@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

.wrapper {
    height: 100vh;
    font-family: 'Lato', sans-serif; 
    display: flex;
    flex-direction: column;

}

.container{
    position: relative;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.textcontainer{
    margin-top: 40px;
    width: 500px;
    transform: translate(-15%, 0);
}

.hot{
    color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 5px;
    padding: 3px 5px;
    font-weight: 600;
    width: fit-content;
    margin-bottom: 5px;
}

.name{
    font-size: 35px;
    font-weight: 500;
}

.cities {
    margin-top: 6px;
    margin-left: 10px;
    color: gray;
    margin-bottom: 10px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -15%;
    background-color: white;
    padding: 15px;
    right: 25%;
}

.price{
    font-size: 30px;
    display: flex;
    justify-content: end;
}

.infos{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
}


.check{
    color: #3586ff;
}



.subButton {
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}


@media (max-width: 1024px) {
    .container {
        gap: 2px;
        margin-left: 50px;
    }

    .wrapper{
        margin-bottom: -400px;
    }

    .textcontainer {
        width: 70%;
    }

    .sidebar {
        position: static;
    }
}