@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Nunito Sans;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our {
    margin-top: 60px;
    color: #08acfc;
    text-transform: uppercase;
    font-weight: 800;
}

.values {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

.line {
    position: absolute;
    margin-top: 40px;
    width: 7px;
    border: 3px solid gray;
    opacity: 0.5;
    border-radius: 5px;
    height: 820px;
    z-index: -1;
    top: 260px;
}

.row {
    font-family: Nunito Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 100px;
    margin-left: -166px;
}

.row2 {
    font-family: Nunito Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 100px;
    margin-left: 166px;
}

.text {
    width: 270px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left, .right {
    width: 150px;
    height: 95px;
}

.left {
    transform: scaleX(-1);
}

.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #5094fc;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    text-transform: uppercase;
    width: 104px;
    height: 60px;
    background-color: #5094fc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #5094fc;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

@media (max-width: 768px) {
    .line {
        display: none; /* Show the line */
    }

    .row {
        margin-top: 40px;
        margin-left: 0; /* Adjust margin */
    }
    .row2 {
        margin-top: 40px;
        margin-left: 0; /* Adjust margin */
    }

    .text {
        width: 100%; /* Take full width */
        margin-bottom: 20px; /* Adjust margin */
        max-width: 200px;
        margin: 0px 20px;
    }

    .left,
    .right {
        display: none;
    }

    .hex {
        width: 100px; /* Adjust width */
        height: 45px; /* Adjust height */
        font-size: 14px; /* Adjust font size */
    }
    
    .hex:before,
    .hex:after {
        display: block; /* Show the pseudo elements */
    }
}

