@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");



.mainNav {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    padding: 0 40px;
    font-family: "Raleway", sans-serif;
    background-color: #3586ff;
}

.mainNav__logo {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(134, 134, 134);
 }

.mainNav__links {
    display: flex;
    width: 1024px;
}

.mainNav__link {
    letter-spacing: 1px;
    font-size: 14px;
    margin-left: 20px;
    font-weight: 600;
    box-shadow: inset 0px -10px 0px rgba(white, 0.5);
    transition: all 0.4s ease, transform 0.2s ease;
    padding: 2px 4px;
    transform: translateY(0px); 
    text-decoration: none;
    color: white;
    padding: 9px;
    border: 1px solid white;
    border-radius: 16px;
 }

 .mainNav__link:hover {
    transform: translateY(-5px);
  }

.burger{
    display: none;
}

@media(max-width: 576px){
    .mainNav__links{
        position: fixed;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 100vh;
        background-color: white;
        border:2px solid #3586ff ;
        width: 200px;
        top: 0;
        padding-top: 50px;
        left: -210px;
        transition: transform 0.3s linear; 
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .mainNav__links.active{
        transform: translateX(100%);
    }

    .mainNav__link {
        color: #3586ff;
    }

    .burger{
        display: block;
        height: 40px;
        width: 40px;
        background-color: transparent;
        margin-left: auto;
        padding: 0;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 20px;
    }
}