@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");



.mainNav {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    text-transform: uppercase;
    padding: 0 40px;
    font-family: "Raleway", sans-serif;
}

.mainNav__logo {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
 }

.mainNav__links {
    display: flex;
}

.mainNav__link {
    letter-spacing: 1px;
    font-size: 14px;
    margin-left: 20px;
    font-weight: 600;
    box-shadow: inset 0px -10px 0px rgba(white, 0.5);
    transition: all 0.4s ease, transform 0.2s ease;
    padding: 2px 4px;
    transform: translateY(0px); 
    
 }

 .mainNav__link:hover {
    transform: translateY(-5px);
    box-shadow: inset 0px -20px 0px white; 
  }