@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

.wrapper {
    width: 800px;
    height: 140px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    font-family: Nunito Sans;
}

.top {
    background-color: #febb02;
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
    border-radius: 14px 14px 0 0;
    align-items: center;

}

.left {
    align-items: center; 
    display: flex;
}

.right{
    display: flex;
    gap: 5px;
    align-items: center;
}

.bookButton>button{
    height: 30px;
    background-color: rgb(80, 80, 80);
    border-radius: 3px;
    padding: 3px 5px;
    text-transform: uppercase;
    color: white;
    border: none;
    cursor: pointer;
}



.icon{
    font-size: 25px;
    margin-right: 10px;
}

.bottom {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.kyiv{
    margin-bottom: 30px;
}

.stops{
    display: flex; 
    flex-direction: row;
    gap: 91px;
    margin-bottom: 10px;
}

.bottomRow{
    margin-left: 150px;
}

@media (max-width: 768px) {
    .top {
        padding: 7px 3%;
    }


    .wrapper{
        width: 96vw;
        margin-left: 1vw;
    }

    .icon {
        font-size: 4vw;
    }

    .bottom {
        padding: 1%;
    }

    .dots{
        display: none;
    }

    .stops{
        gap: 30px
    }

    .first:nth-child(1){
        margin-left: 16px;
    }

    .first:nth-child(3){
        margin-left: 20px;
    }

    .bottomRow {
        margin-left: 35%; /* Adjusted for smaller screens */
    }
}